@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

.body {
  background-image: radial-gradient(circle, rgba(68, 51, 16, 0), rgba(108, 85, 41, 0), rgba(152, 119, 67, 0.3411764706), rgba(198, 155, 96, 0.5137254902), rgba(247, 195, 126, 0.5803921569)), url(../assests/img/fondo_madera.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .body {
    background-image: radial-gradient(circle, rgba(68, 51, 16, 0), rgba(108, 85, 41, 0), rgba(152, 119, 67, 0.3411764706), rgba(198, 155, 96, 0.5137254902), rgba(247, 195, 126, 0.5803921569)), url(../assests/img/fondo_madera_mobile.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.fondoMadera {
  background-color: #f7c27e;
}

.header {
  z-index: 9;
  background-color: rgba(68, 51, 16, 0.478);
}
.header .logo {
  width: 45px;
  height: 50px;
}
.header .anclaheader:hover {
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 10%;
}

.parrafo {
  font-size: 1.1rem;
  text-align: start;
}

.parrafo span {
  font-style: italic;
}

.parrafonegrita {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: start;
}

.parrafonegrita span {
  font-style: italic;
}

.footer {
  background-color: rgba(68, 51, 16, 0.478);
  font-size: 2.5rem;
  /*Esta clase es esclusivamente para ponerle un fondo al ícono de wsp de fontawesome y pueda contrastar con el resto de la pag.*/
}
.footer .sectionfooter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .sectionfooter .h3footer {
  font-size: 1.5rem;
}
.footer .singuion {
  text-decoration: none;
}
.footer .fondoiconwsp {
  width: 48px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 17px;
}
.footer .iconowsp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.footer .iconowsp .fa-whatsapp {
  color: green;
  font-size: 4rem;
}
.footer .iconowsp .fa-square-whatsapp {
  color: green;
  font-size: 4rem;
}
.footer .fa-instagram {
  color: rgb(194, 36, 128);
}
.footer .fa-facebook {
  color: blue;
}
.footer .fa-youtube {
  color: red;
}

.H1 {
  font-size: 3rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .maindiv {
    background-color: rgba(128, 128, 128, 0.514);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: auto;
  }
  .indexflexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  .maindiv {
    background-color: rgba(128, 128, 128, 0.514);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: 40%;
  }
}
@media (min-width: 1301px) and (max-width: 1900px) {
  .maindiv {
    background-color: rgba(128, 128, 128, 0.514);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: 40%;
  }
}
.indexflexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 576px) {
  .divsectionproyecto {
    height: 33vh;
  }
}
@media (min-width: 577px) and (max-width: 1900px) {
  .divsectionproyecto {
    height: 70vh;
  }
}
.sectionproductos {
  background-color: rgba(0, 0, 255, 0.034);
  width: 90%;
}

.boxcontainerproductos {
  border-radius: 6px 6px 6px 6px;
  box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
}

.productoflexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 576px) {
  .sectionproductos {
    background-color: rgba(0, 0, 255, 0.034);
    width: 100%;
  }
  .productoflexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boxcontainerproductos {
    width: 280px;
    height: 210px;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  .productoflexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .boxcontainerproductos {
    width: 320px;
    height: 240px;
  }
}
@media (min-width: 1301px) and (max-width: 1900px) {
  .productoflexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .boxcontainerproductos {
    width: 560px;
    height: 420px;
  }
}
.sectiongaleria {
  background-color: rgba(0, 0, 255, 0.034);
  width: 90%;
}

.boxcontainer {
  position: relative;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  overflow: hidden;
}

.boxcontainer img {
  top: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease-in-out;
  filter: initial;
}

.boxcontainer:hover img {
  transform: scale(1.1);
  filter: blur(4px);
}

.texto {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: black;
  font-size: 2rem;
}

.boxcontainer:hover .texto {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.divflexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccionflexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 576px) {
  .sectiongaleria {
    background-color: rgba(0, 0, 255, 0.034);
    width: 100%;
  }
  .boxcontainer {
    width: 280px;
    height: 210px;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  .boxcontainer {
    width: 320px;
    height: 240px;
  }
}
@media (min-width: 1301px) and (max-width: 1900px) {
  .boxcontainer {
    width: 560px;
    height: 420px;
  }
}
@media (max-width: 576px) {
  .sectioncontactos {
    background-color: rgba(0, 0, 255, 0.034);
    width: 95%;
  }
  .sectioncontactos .boxcontactos {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
    margin: 20px 20px;
    height: 70vh;
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid black;
  }
}
@media (min-width: 577px) and (max-width: 1900px) {
  .sectioncontactos {
    background-color: rgba(0, 0, 255, 0.034);
    width: 95%;
  }
  .sectioncontactos .boxcontactos {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0, 0, 0, 0.53);
    margin: 20px 20px;
    height: 70vh;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid black;
  }
}/*# sourceMappingURL=estilos.css.map */