@media (max-width: 576px){
    .maindiv{
        background-color:$maindiv;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 3px 7px 31px 0px rgba(0,0,0,0.53);
        border: $boxbordersuave;
        width: auto;
    }
    .indexflexible{
        @include flexible(column);
    }
}
@media (min-width: 577px) and (max-width: 1300px) {
    .maindiv{
        background-color:$maindiv;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 3px 7px 31px 0px rgba(0,0,0,0.53);
        border: $boxbordersuave;
        width: 40%;
    }
}
@media(min-width: 1301px) and (max-width: 1900px){
    .maindiv{
        background-color:$maindiv;
        border-radius: 6px 6px 6px 6px;
        box-shadow: 3px 7px 31px 0px rgba(0,0,0,0.53);
        border: $boxbordersuave;
        width: 40%;
    }
}
.indexflexible{
    @include flexible(row,space-evenly);
}