.sectionproductos{
    background-color:$fondosombra;
    width: 90%;
}
.boxcontainerproductos{
    border-radius: 6px 6px 6px 6px;
    box-shadow: 3px 7px 31px 0px rgba(0,0,0,0.53);
    object-fit: cover;
    border: $boxbordernegro;
}
.productoflexible{
    @include flexible(row, space-around);
}
@media(max-width:576px){
    .sectionproductos{
        background-color:$fondosombra;
        width: 100%;
    }
    .productoflexible{
        @include flexible(column);
    }
    .boxcontainerproductos{
        width: 280px;
        height: 210px;
    }
}
@media(min-width: 577px) and (max-width: 1300px){
    .productoflexible{
        @include flexible(row, space-around);
    }
    .boxcontainerproductos{
        width: 320px;
        height: 240px;
    }
}
@media(min-width: 1301px) and (max-width: 1900px){
    .productoflexible{
        @include flexible(row, space-around);
    }
    .boxcontainerproductos{
        width: 560px;
        height: 420px;
    }
}