$fondoMadera: #f7c27e;
$header-footer-color:  rgba(68, 51, 16, 0.478);
$maindiv: rgba(128, 128, 128, 0.514);
$fondosombra: rgba(0, 0, 255, 0.034);

$parrafosize: 1.1rem;
$negrita: 500;
$boxbordernegro: 1px solid black;
$boxbordersuave: 1px solid rgba(0, 0, 0, 0.096);

$redes:(
    whatsapp: green,
    facebook: blue,
    instagram: rgb(194, 36, 128),
    youtube: red,
);

$center: center;